<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>โอนสินค้า</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="page-content-inner">
      <div class="row" style="padding:5px;">
        <div class="col-12 col-md-12" style="padding: 0px;">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-exchange" style="font-size: 1em;"></i>โอนสินค้า</div>
              <div class="tools">
                <span class="label label-sm label-info circle" (click)="Edit('new')"> เพิ่ม </span>
              </div>
            </div>
            <div class="portlet-body" style="padding: 2px;">
              <div class="tab-content">
                <div class="tab-pane active">
                  <div class="row">
                    <div class="col-12">
                      <div class="table-scrollable">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th> เลขที่ใบโอนรหัสสินค้า </th>
                              <th> วันที่โอนรหัสสินค้า </th>
                              <th> ประเภทการโอนรหัส </th>
                              <th> สถานะ </th>
                              <th> ชื่อลูกค้า </th>
                              <th> ผู้ออกเอกสาร </th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- <tr *ngFor="let item of list; let i = index"> -->
                            <tr>
                              <!-- <td> {{i+1}}</td>
                                          <td> {{item.ServiceReportNo}} </td>
                                          <td> {{item.CustomerName}} </td>
                                          <td> {{item.Status}} </td>
                                          <td> {{item.CreatedDate}} </td> -->
                              <td>1 </td>
                              <td> 2 </td>
                              <td> 2 </td>
                              <td> 2 </td>
                              <td> 2 </td>
                              <td> 2 </td>
                              <td>
                                <span class="label label-sm label-warning circle" (click)="Edit('edit')">แก้ไข</span>
                              </td>
                              <td><span class="label label-sm label-danger circle" (click)="Delete()">ลบ</span></td>
                              <!-- <td *ngIf="item.Status == 'กำลังดำเนินการ'; else lblView" > 
                                            <span class="label label-sm label-warning circle" #lblView
                                            (click)="Detail(item)">แก้ไข</span>
                                        </td>
                                        <td *ngIf="item.Status == 'กำลังดำเนินการ'; else lblView" > 
                                          <span class="label label-sm label-danger circle" #lblView
                                          (click)="Delete(item)">ลบ</span> -->
                              <!-- </td> -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
